* { /* для всіх елементів сторінки */
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;   
}

.nav { /* редагування розміщення heading */
    display: flex;
    height: 35vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 124px;
}

h1, h2 { /* відсутність відступів у заголовків за замовчуванням */
    padding: 0;
    margin: 0;
}

ul, li { /* розташування списків */
    display: flex;
    align-items: center;
}

.container { /* задання початкової ширини контейнера */
    width: 1612px;
    margin: 0 auto; /* позиціонування по центру */
}

.header { /* редагування вигляду header */
    background: url('../readopolis/img/main_ph.jpg') center no-repeat; /* встановлення зображення */
    background-size: cover; 
    height: 30vh; 
}

.header a { /* встановлення стилю */
    color: white;
}

.header_title a { /* встановлення стилю для логотипа */
    font-size: 70px;  
    letter-spacing: 7px;
}

.menu { /* редагування вигляду головної панелі */
    margin-top: 35px;
    display: flex; /* розташування на одному рівні */
    justify-content: space-between; /* відстань між */
}

.menu a { /* редагування вигляду тегів */
    font-size: 35px;
    letter-spacing: 2px;
}

.btn { /* програмування кнопки */
    padding: 18px;
    border: 2px solid white;
    font-size: 30px;
    line-height: px;
}

.btn:hover { /* зміна вигляду кнопки при наведенні, псевдоклас */
    background-color: white;
    color: black;
    transition: .4s ease;
}

.novels { /* редагування вигляду блоку */
    padding-top: 10vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
}

.horror { /* редагування вигляду блоку */
    padding-top: 10vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
}

.detective {
    padding-top: 10vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
}

.image {
    flex: 1;
    margin-right: 20px;
    width: 100px;
}

.text {
    flex: 1;
}

.book1 h1 {
    font-size: 65px; 
    letter-spacing: 7px; 
    line-height: 2em;
}

.description {
    display: flex;
    align-items: center;
    padding-bottom: 10vh;
}

.horror h1 {
    font-size: 65px; 
    letter-spacing: 7px; 
    line-height: 2em;
}

.novels h1 {
    font-size: 65px; 
    letter-spacing: 7px; 
    line-height: 2em;
}

.detective h1 {
    font-size: 65px; 
    letter-spacing: 7px; 
    line-height: 2em;
}

.text h1 { /* редагування вигляду заголовка */
    font-size: 65px; 
    letter-spacing: 7px; 
    line-height: 1em;
    color: #d4a247;
}

.text h2 { /* редагування вигляду заголовка */
    font-size: 50px; 
    letter-spacing: 3px; 
    line-height: 2em;
}

.text p { /* редагування вигляду тексту */
    font-size: 30px; 
    text-align: justify;
    justify-content: end;
    line-height: 2em;
}

.footer { /* створення вигляду footer */
    background-color: black;
    height: 184px;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 80px;
}
