* { /* для всіх елементів сторінки */
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;   
}

.nav { /* редагування розміщення heading */
    display: flex;
    height: 35vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 124px;
}

h1, h2 { /* відсутність відступів у заголовків за замовчуванням */
    padding: 0;
    margin: 0;
}

ul, li { /* розташування списків */
    display: flex;
    align-items: center;
}

.container { /* задання початкової ширини контейнера */
    width: 1612px;
    margin: 0 auto; /* позиціонування по центру */
    padding-bottom: 7vh;
}

.header { /* редагування вигляду header */
    background: url('../readopolis/img/main_ph.jpg') center no-repeat; /* встановлення зображення */
    background-size: cover; 
    height: 30vh; 
}

.header a { /* встановлення стилю */
    color: white;
}

.header_title a { /* встановлення стилю для логотипа */
    font-size: 70px;  
    letter-spacing: 7px;
}

.menu { /* редагування вигляду головної панелі */
    margin-top: 35px;
    display: flex; /* розташування на одному рівні */
    justify-content: space-between; /* відстань між */
}

.menu a { /* редагування вигляду тегів */
    font-size: 35px;
    letter-spacing: 2px;
}

.btn { /* програмування кнопки */
    padding: 18px;
    border: 2px solid white;
    font-size: 30px;
    line-height: px;
}

.btn:hover { /* зміна вигляду кнопки при наведенні, псевдоклас */
    background-color: white;
    color: black;
    transition: .4s ease;
}

.shop h1 {
    font-size: 60px;
    padding-top: 50px;
}

.form-group {
    flex-direction: column;
    justify-content: end;
    padding-bottom: 2vh;
}

.form-group label {
    font-size: 25px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 10vh;
}

.form-control {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.form-button {
    padding: 10px 20px;
    font-size: 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button[type="submit"]:hover {
    background-color: rgb(190, 190, 190);
    color: black;
    transition: .4s ease;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.footer { /* створення вигляду footer */
    background-color: black;
    height: 184px;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 80px;
}
